.hero-head h1 {
  font-weight: bold;
}

.hero-head h2 {
  color: grey!important;
  background-color: grey;
  font-weight: 400;
}

.nav-link {
  width: 100px;
  text-align: center;
}

.nav-link.rounded-pill {
  width: 100px;
  text-align: center;
}

.hero-text h1 {
  text-align: center;
  font-weight: bold;
}

.card-head h2 {
  font-weight: bold;
}

.card-text {
  font-weight: 400;
}

.col-md-12.col-lg-5.fixing-card {
  width: 274px;
}

.col.wide {
  width: 274px;
}

.row .wide {
  width: 274px;
}

.btn-txt {
  color: #fff!important;
}

.fancy-font p {
  font-size: 14px;
}

.fancy-font h2 {
  font-size: 23px;
}

@media (min-width: 576px) {
  .fancy-font p {
    font-size: 16px;
  }
  
}

@media (min-width: 576px) {
  .fancy-font h2 {
    font-size: 25px;
  }
}
.container.contact-top{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px white;
}
.container.modern-form__form-container{
  padding: 0px 100px 0px 100px;
}
input.form-control.email{
  border: 1px solid black;
}
.newsletter-subscribe{
  background-color: rgb(66, 5, 43);
}
.text-center.newsletter{
  color: #f2f2f2;
  font-size: smaller;
  font-weight: 400;
}
.text-center.newsletter-title{
  color: #f2f2f2;
}
.smaller-text{
  font-size: smaller;
  font-weight: 400;
}
/* about page */
.abt-major{
  background-image: url(../img/about/hoodie-hacker.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
span.shadow{
  color: blue;
  font-weight: 800 !important;
}
.container-fluid.cont-content{
  background-color: rgba(0, 0, 0, .8); 
}
/* .container-fluid.cont-content .container{
  padding: 30px;
} */
.row.dash-pics{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;

}
img.dash-img{
  height: 250px;
  width: 200px;
  border-radius: 5px;
  /* border: 1px solid white; */
  padding: 0;
  margin-left: 5px;
  margin-right: 5px;
  opacity: .7;
  box-shadow: 2px 2px 5px white;
}
img.dash-img.bigger{
  flex: 4;
}
img.dash-img.top{
  margin-bottom: 100px;
}
img.dash-img.down{
  margin-top: 100px;
}
.col-12.inner-col{
  padding: 30px;
}
.col-12.inner-col h4{
  color: black;
  text-align: center;
}

.col-12 p.inner-col-p{
  color: grey;
  font-weight: 600;
  font-size: 14px;
  padding: 0 80px 0 80px;
}
.col-12.col-grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.col-box{
  border-radius: 2px;
  box-shadow: 1px 1px 6px black;

}
.mosaic-text{
  background-color: rgba(0, 0, 0, .8);
  color: rgba(255, 255, 255, .7);
  font-weight: 400;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  padding: 20px;
}
.col-box.mosaic1{
  background-image: url(../img/about/mosaic1.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 200px;
}
.col-box.mosaic2{
  background-image: url(../img/about/mosaic2.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 200px;
}
.col-box.mosaic3{
  background-image: url(../img/about/mosaic3.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 200px;
}
.col-box.mosaic4{
  background-image: url(../img/about/mosaic4.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 200px;

}
.col-box.mosaic5{
  background-image: url(../img/about/mosaic5.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 200px;

}

@media screen and (max-width:576px) {
  .abt-intro{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  img.dash-img.top{
    display: none;
  }
  img.dash-img.down{
    display: none;
  }
  img.dash-img.bigger{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    opacity: .5;
  }
}

.row.dash-story h4{
  color: blue;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style:double;
}
.row.dash-story p{
  font-size: inherit;
  font-weight: 400;
  color: grey;
}
@media screen and (max-width:688px){
  .abt-intro{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  img.dash-img.top.four{
    display: none;
  }
  img.dash-img.down.five{
    display: none;
  }
  img.dash-img.bigger{
    display: none;
  }
  img.dash-img.bigger{
    box-shadow: none;
    border: none;
    border-radius: 2px;
    opacity: .5;
  }
  
}
