.hero-head h1 {
  font-weight: bold;
}

.hero-head h2 {
  color: grey!important;
  background-color: grey;
  font-weight: 400;
}

.nav-link {
  width: 100px;
  text-align: center;
}

.nav-link.rounded-pill {
  width: 100px;
  text-align: center;
}

.hero-text h1 {
  text-align: center;
  font-weight: bold;
}

.card-head h2 {
  font-weight: bold;
}

.card-text {
  font-weight: 400;
}

.col-md-12.col-lg-5.fixing-card {
  width: 274px;
}

.col.wide {
  width: 274px;
}

.row .wide {
  width: 274px;
}

.btn-txt {
  color: #fff!important;
}

.fancy-font p {
  font-size: 14px;
}

.fancy-font h2 {
  font-size: 23px;
}

@media (min-width: 576px) {
  .fancy-font p {
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  .fancy-font h2 {
    font-size: 25px;
  }
}
.container.contact-top{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 10px white;
}
.container.modern-form__form-container{
  padding: 0px 100px 0px 100px;
}
input.form-control.email{
  border: 1px solid black;
}
.newsletter-subscribe{
  background-color: rgb(66, 5, 43);
}
.text-center.newsletter{
  color: #f2f2f2;
  font-size: smaller;
  font-weight: 400;
}
.text-center.newsletter-title{
  color: #f2f2f2;
}
.smaller-text{
  font-size: smaller;
  font-weight: 400;
}
